*{
    font-family: "Comfortaa", sans-serif;
}

html,
h1,
h2,
h3,
h4,
h5 {
    color: dimgrey;
}

body{
    background: #f6f6f6;
}
a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: crimson;
}

input{
    padding: 10px 12px;
    display: block;
    width: 70%;
    border-radius: 3px;
    border: 1px solid #ececec;
    line-height: 1.5rem;
    color: #444444;
    font-size: 1rem;

}

/*
    HEADER
 */

header
{
    background: #1d1945;
    height:70px;
}

header
*{
    color: #ffffff;
}

header h1{
    margin-top: 10px;

}

header h1 a{
    color: #ffffff;
    padding: 10px;

}

header h1 a:hover{
    color: #ffffff;

}

header ul{
    margin: 0;
    padding: 10px;
    list-style-type: none;
    float:right;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 10px;
}

header ul li a:hover
{
    background: red; /* #006669*/
    transition: 0.5s;
    color: #fff;
}

header ul li ul
{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 88888;
}

header ul li:hover ul
{
    display: block;
}

header ul li ul li{
    width: 100%;
}

header ul li ul li a{
    padding: 10px;
    background: lightgray;
    color: red;

}

/*
    Slider
*/

.slider-title{
    text-align: center;
    padding: 30px 0 ;
}

.carousel{
    height: 300px;
}

.carousel-inner, .carousel-item{
    height: 300px;
    border-radius: 10px;
}

.carousel-caption h5
{
    font-size: 2rem;
    font-weight: 500;
    background: black;
    max-width: 100%;
    opacity: 0.5;
}

.carousel-caption h5 a
{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.carousel-caption h5 a:hover
{
    text-decoration: underline;
}

/*
    Main
*/

.main-content h2
{
    margin: 20px 0;
}

.main-content .post
{
    margin-bottom: 30px;
}

.main-content .post_text{
    background: white;
    padding: 7px;
    border-radius: 5px;
}

.main-content .post_text h3 a:hover
{
    text-decoration: underline;
    color: dimgrey;
}

.main-content .post_text h3{
    margin: 10px 0;
}

.main-content .post_text p{
    margin: 0px 14px 14px 0px;
}

/*
    SideBar
*/


.sidebar {
    position: absolute;
    top: 62%;
    right: 0;
}



.section
{
    margin-top: 10px;
}

.sidebar .section
{

    border-radius: 5px;
    margin-bottom: 30px;
}

.sidebar .topics ul{
    width: 70%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 5px solid #e0e0e0;
}

.sidebar .topics ul li a{
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: 3px solid #e0e0e0;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #5c5b5b;
    font-size: 1.2rem;
}

.sidebar .topics ul li a:hover
{
    padding-left: 10px;
    transition: all 0.3s    ;
}

/*
    Single post
 */


.single_post .info
{
    margin: 20px 0;
}

.single_post .info p
{
    display: inline-block;
    margin-right: 20px;

}